# Application environment variables
BETTER_AUTH_SECRET=your-secret-here
DATABASE_URL=postgresql://postgres:your-password-here@postgres:5432/postgres

# Postgres environment variables
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password-here